/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

html, body {
  margin: 0;
  background-color: #D4A76A;
  display: flex;
  flex-direction: column;
}

* {
  font-family: sans-serif;
}

.head {
  background-color: #FFDBAA;
  display: flex;
  align-content: center;
}

.head h1 {
  margin-left: 20px;
  color: #553100;
  width:50%;
  padding-bottom: 20px;
  font-size: 50px;
}

.airplane {
  right: -20px;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
  color: white;
  text-align: right;
  align-items: center;
}

.link {
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: white;
  width: 25%;
  background-color: #805215;
  padding: 20px;
  margin: 10px;
  font-weight: bold;
  align-content: center;
  border-radius: 10px;
}

.link:hover {
  background-color: #e4b47c;
}

.main-content {
  background-color: #D4A76A;
}

.top-content {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.inner-box h3 {
  text-align: center;
  font-weight: 1000;
}

.inner-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: -4px 10px 69px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 10px 69px 0px rgba(0,0,0,0.75);
  box-shadow: -4px 10px 69px 0px rgba(0,0,0,0.75);
  align-items: center;
  margin: 20px;
  border-radius: 10px;
}

.top-content .inner-box {
  width: 30%;
  /* height: 250px; */
  flex-grow: 1 1 0;
}

p {
  margin: 20px;
  font-size: 20px;

}

.buttons {
  width: 100%;
  text-align: center;
}

.wow {
  border: 1px solid black;
  width: 80%;
}

header {
  animation-duration: 1s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction:normal;
}

@keyframes slidein {
  from {
    margin-right: 100%;
  }

  to {
    margin-right: 0%;
  }
}
